<div class='container'>
  <div class='row'>
    <font color="red">
      <% if @answer.errors.any? %>
      <%= @answer.errors.count %>error prohibited this obj from being saved:
      <% @answer.errors.full_messages.each do |message| %>
      <%= message %>
      <% end %>
      <% end %>
    </font>



    <div class='container'>
      <div class='row'>

        <div class='container px-3 px-sm-3'>
          <h4 style="background-color: #d3d3d3; display:inline;">～回答を編集～</h4>
        </div>

        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

          <table width="500" height="500">
          <%= form_with model: @answer, url: public_question_answer_path(@question, @answer), method: :patch, local: true do |f| %>
            <%= f.hidden_field :question_id, :value => @question.id %>


          <tr>
            <th>回答画像</th>

            <th><%= f.attachment_field :image, class: "form-control-file answer_image" %></th>
          </tr>



          <tr>
            <th>回答タイトル</th>

            <th><%= f.text_field :name, size: "40x20",placeholder: "（例）やすり掛けをするといいと思います。" %></th>
          </tr>



          <tr>
            <th>内容</th>

            <th><%= f.text_area :answer, size: "45x10",placeholder: "（例）やすり掛けをすると、傷が目立たなくなる場合もあるのでお勧めします。" %></th>
          </tr>

          <tr>
            <th>
            <%= f.submit '回答を変更', class: "btn btn-success" %>
            <% end %>
            </th>
            <th>
            <%= link_to '削除する',public_question_answer_path(id:@answer.id,item_id:@question.id),method: :DELETE, data: {confirm:"本当に削除しますか？"}, class: "btn btn-danger" %>
            </th>
          </tr>

          </table>

        </div>
      </div>
    </div>

  </div>
</div>
